<div id="area_title">
    <h2 id="apiNeighborhood" ng-bind='vm.header'></h2>
</div>
<div>
    <ul class="listnoStyle">
        <li class="paginationclass" ng-repeat='restaurant in vm.restaurants | orderBy: "name"' ng-click='vm.select(restaurant)' ng-class='{active: vm.isActive(restaurant)}'>
            <div class="list-group-item">
                <a ng-href="{{restaurant.url}}"> {{restaurant.name}} </a>
                <p> Rating: {{restaurant.rating}}</p>
                <p> Address: {{restaurant.location.address[0]}}</p>
            </div>
        </li>
    </ul>
</div>
<!-- <div class='row'>
    <div class='col-md-12'>
        <h2>My Restaurant List</h2>
        <ul class="listnoStyle">
            {{place.name}}
        </ul>
        <h2> Sort My Restaurant List </h2>
                    <input type='text' ng-model='vm.sort_by' placeholder="Restaurant Name">
    </div>
</div>
 -->