<p>Corktown</p>

<div ng-controller = "listController">

<ul class ="listnoStyle" ng-controller="corktownpageCtrl">
  <!--  <li class="paginationclass" ng-repeat='restaurant in restaurants | orderBy: "name"' ng-click='select(restaurant)' ng-class='{active: isActive(restaurant)}'>
    <div>{{restaurant.name}}</div>
  </li> -->
<div class="list-group">
  <div class="list-group-item">
    <a href="http://www.yelp.com/biz/batch-brewing-company-detroit"> Batch Brewing Company </a>
    <p> Rating: 4.5 Stars</p>
    <p> Address: 1400 Porter St. Detroit, MI 48216 </p>
    <p> Phone Number: (313) 338-8008 </p>
  </div>
  <div class="list-group">
    <a href="http://www.yelp.com/biz/mudgies-detroit" class="list-group-item"> Mudgie’s </a>
    <p> Rating: 4.5 Stars </p>
    <p> Address: 1300 Porter St Detroit, MI 48226 </p>
    <p> Phone Number: (313) 961-2000 </p>
  </div>
  <div class="list-group">
    <a href="http://www.yelp.com/biz/bobcat-bonnies-detroit" class="list-group-item"> Bobcat Bonnie's </a>
    <p> Rating: 4 Stars </p>
    <p> Address: 1800 Michigan Ave Detroit, MI 48216 </p>
    <p> Phone Number: (313) 962-5500 </p>
  </div>
  <div>
    <a href="http://www.yelp.com/biz/ottava-via-detroit" class="list-group-item"> Ottava Via </a>
    <p> Rating: 4 Stars </p>
    <p> Address: 1400 Michigan Ave Detroit, MI 48216 </p>
    <p> Phone Number: (313)  </p>
  </div>

  <a href="http://www.yelp.com/biz/brooklyn-street-local-detroit" class="list-group-item"> Brooklyn Street Local </a>
  <a href="http://www.yelp.com/biz/st-ceces-pub-detroit" class="list-group-item"> St. Cece's Pub </a>
  <a href="http://www.yelp.com/biz/le-petit-zinc-detroit" class="list-group-item"> Le Petite Zinc </a>
  <a href="http://www.yelp.com/biz/pjs-lager-house-detroit" class="list-group-item"> PJ's Lager House </a>
  <a href="http://www.yelp.com/biz/mcshanes-irish-pub-and-whiskey-bar-detroit" class="list-group-item"> McShane's Irish Pub and Whiskey Bar </a>
  <a href="http://www.yelp.com/biz/bucharest-grill-detroit-3" class="list-group-item"> Bucharest Grill </a>
  <a href="http://www.yelp.com/biz/nemos-bar-detroit" class="list-group-item"> Nemo's Bar </a>
  <a href="http://www.yelp.com/biz/caseys-pub-detroit" class="list-group-item"> Casey's Pub </a>
  <a href="http://www.yelp.com/biz/onassis-coney-island-detroit" class="list-group-item"> Onassis Coney Island </a>
  <a href="http://www.yelp.com/biz/green-dot-stables-detroit-2" class="list-group-item"> Green Dot Stables </a>

</div>

</ul>

</div>
