<div ng-controller = "listController">
  
<form>
  <div class="container-fluid bodyStyle">
    
    <div class="row">
     <h2> Add a Restaurant </h2>
        <div class='col-md-12'>
          <div class="form-group">
             <label> Restaurant </label>
             <input type="text" ng-model="newRestaurant" class="form-control" placeholder="Name of Restaurant">
          </div>
        </div>

    <div class="row">
        <div class='col-md-12'>
          <div class="form-group">      
            <label> Neighborhood</label>
              <div class="radio-inline">
                  <input type="radio" ng-model="newNeighborhood" value="Corktown">Corktown
              </div>
             
              <div class="radio-inline">
                  <input type="radio" ng-model="newNeighborhood" value="Downtown">Downtown
              </div>
              
              <div class="radio-inline">
                  <input type="radio" ng-model="newNeighborhood" value="Eastern Market">Eastern Market
              </div>
              
              <div class="radio-inline">
                  <input type="radio" ng-model="newNeighborhood" value="Midtown">Midtown
              </div>
          <div>
        </div>
    </div>

    <div class="row">
      <div class='col-md-12'>
        <button type="submit" class="btn btn-default" ng-click="add()"> Add to List </button>
      </div>
      <div class='col-md-6'>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-12'>
        <h2>My Community Table</h2>
          <ul class ="listnoStyle">
            <li ng-repeat='restaurants in restaurants | filter: itemsNameorNeighborhood | orderBy: name'>
              {{restaurants.rest}} in {{restaurants.neighborhood}} 
            </li>
          </ul>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-12'>
        <h2> Sort My List </h2>
          <input type='text' ng-model='itemsNameorNeighborhood' placeholder="I'm Looking For...">
      </div>
    </div>
    
  </div>

</form>
<div ng-controller="searchAPI">
  <p>{{businesses}}</p>
  <p>{{addresses}}</p>
</div>

</div>