@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Vast+Shadow);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display+SC);


body {
 	
}

 .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
    margin-bottom: 0;
 }

 .nav {
 	font-family: 'Oswald';
 	width: 70%;
 	margin: 0 auto;
 }

 #imageHead {
 	font-family: 'Vast Shadow';
 	width:100%;
 	background-image: url(img/table-splash.jpeg);
 	background-size: cover;
 	color: white;
 	padding: 250px 0 200px;
}

#imageHead img {
	width:100%;
}

