@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Vast+Shadow);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Ultra);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);


.list-group-item {
	font-family: Oswald;
	color: #786E5D;
}

.list-group-item a {
	color: #786E5D;
}

.list-group-item:hover {
	background-color: #FEE28D;
}

.form-control {
padding-right: 10px;
}

.form-group {
	padding-left: 0px;
}

.cursivefont {
	font-family: Pacifico;
	font-size: 20px;
	color: #FEE28D;
}

 .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #A0C4CF;
 }

 .dropdown-menu {
 	background-color: #A0C4CF;
 }

 .navbar .navbar-nav{
 	font-family: 'Oswald';
 	font-size: 14px;
 	display: inline-block;
 	float: none;
 }

 .navbar .navbar-collapse {
 	text-align: center;
 	padding-left: 0px;
 	padding-right: 0px;
 }

 .navbar-default {
	background-color: #A0C4CF;
	opacity: 60%;
	border: none;
	margin-bottom: 0px;
}

.navbar-default .navbar-nav li a {
	color: white;
	font-size: 14px;
}

.navbar-default .navbar-nav li a:hover {
	color: #786E5D;
	font-size: 16px;
}

.navbar-default .navbar-nav li a:visited {
	color: #786E5D;
}


 #imageHead {
 	font-family: 'Pacifico', cursive;
 	width:100%;
 	background: url(img/beirgarten.jpg) no-repeat center center fixed;
 	background-size: cover;
 	color: #786E5D;
 	padding: 100px 0 100px;
 	text-align: center;
}

#transbox {
  background-color: #ffffff;
  opacity: 0.9;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  padding-top: 30px;
  padding-bottom: 30px;
}

h1{
	color: #E46A73;
	font-size: 42px;
}

h2{
	font-size: 18px;
}

#imageHead img {
	width:100%;
}

#neighborhoodZones {
	background-color: #E46A73;
	font-family: 'Oswald', serif;
	color: #FEE28D;
	text-align: center;
	font-size: 14px;
	padding-bottom: 19px;
	padding-top: 10px;
}

#aboutUs {
	background-color: #A0C4CF;
	font-family: 'Playfair Display', serif;
	color: #786E5D;
	text-align: justify;
	font-style: 18px;
	font-size: 16px;
}

#aboutUs a {
	color: #786E5D;
}

.aboutUsHeader {
	font-family: 'Oswald'
}

.highlightText {
	font-family: 'Oswald';
	font-size: 16px;
}

.icons {
	color: #786E5D;
	padding-right: 50%;
}

#twitter {
 	color: #786E5D;
}

#footerfont {
	 font-family: 'Playfair Display';
	 color: #786E5D;
	 display: inline-block;
	 font-size: 10px;
 }

footer {
	
	 background-color: #FEE28D;
	 padding-left: 20px;
	 padding-right: 20px;
	 padding-top: 10px;
}

.footerlist {
	list-style-type: none;
	text-align: right;
}

.horizontal {
	 display: inline-block;
	 padding-top: 1%;
}

#btnLogin {
	color: white;
	background-color: #7B7A7A;
}

.listnoStyle {
	list-style-type: none;
}

ul {
	padding-left: 0px;
}

/*.bodyStyle{
	padding-left: 40px;
	padding-right: 20px;
}*/

.paginationclass div{
    cursor: pointer;
    text-decoration: highlight;
}
.active{
    background-color: #FF9E0A;
}

#apiNeighborhood::first-letter {
    text-transform: uppercase;
}


#status {
	font-size: 14px;
}
p {
	padding-left: 10px;
	padding-right: 10px
}

input {
	padding-right: 10px;
}

.imgthumbnail {
	border-radius: 50%;
	overflow: hidden;
	border: solid;
	border-color: #786E5D
}

h2{
	text-align: center;
	font-family: Pacifico;
	font-size: 2em;
}



.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  background-color: #A0C4CF;
  border-color: #A0C4CF;
  color: white;
  display: block;
  float: right;
}

.btn-circle:hover {
	background-color: #A0C4CF;
    border-color: #A0C4CF;
    color: white;
}


.btn-circle:focus {
	outline: none !important;
	background-color: #A0C4CF;
	color: #786E5D;
}

.btn-circle:active {
   border: none; 
   background-color: #A0C4CF;
   color: #786E5D;
}

.btn-circle:active {
   border: none; 
   background-color: #A0C4CF;
   color: #786E5D;
}

.restaurantLi {
	font-family: 'Playfair Display';
}

#apiNeighborhood {
	color: #FEE28D;
	margin-top: 0px;
	padding-top: 20px;
	padding-bottom: 10px;
}

.pageBackground {
	background-color: #786E5D;
	padding-top: 0px;
}


.listpageBackground {
	background-color: #786E5D;
	padding-top: 0px;
	height: 100%
}

