@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Ultra);
@import url(https://fonts.googleapis.com/css?family=Pacifico);




/*.active {
  background: #FF735C;
}*/

/*.disabled {
  background: #eee;
  color: #aaa;
}*/
h2{
	text-align: center;
	font-family: Pacifico;
	font-size: 2em;
	padding-bottom: 10px
}

p {
	padding-left: 10px;
	padding-right: 10px
}
#status{
    color:rgb(120,110,93);
    position: static;
    font-family: Oswald;
    float: right;
    padding-right: 3%;
    padding-top: 1%;

}

/*homepage navigation*/
 .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #C3FCFE;
 }

 .dropdown-menu {
 	background-color: #C3FCFE;
 }

 .navbar .navbar-nav{
 	font-family: 'Oswald';
 	font-size: 14px;
 	display: inline-block;
 	float: none;
 }

 .navbar .navbar-collapse {
 	text-align: center;
    position: absolute;
    padding-left: 35%;
    text-align: center;
 }

 .navbar-default {
	background-color: #C3FCFE;
	opacity: 60%;
	border: none;
	margin-bottom: 0px;
}

.navbar-default .navbar-nav li a {
	font-size: 14px;
}

.navbar-default .navbar-nav li a:hover {
	color: #786E5D;
	background-color: #C3FCFE;
	font-size: 16px;
}

.navbar-default .navbar-nav li a:visited {
	color: #786E5D;
}

/*facebook status*/

#status {
	font-size: 14px;
}

/*#btnLogin {
	color: white;
	background-color: #7B7A7A;
}*/

/*homepage image and header*/
 #imageHead {
 	font-family: 'Pacifico', cursive;
 	min-width: 100%;
 	background: url(img/beirgarten.jpg) no-repeat center center fixed;
	color: #786E5D;
 	padding: 100px 0 100px;
 	text-align: center;
 	background-size: 100% 100%;
}

#transbox {
  background-color: #ffffff;
  opacity: 0.9;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  padding-top: 30px;
  padding-bottom: 30px;
}


/*popup modal*/

/*#modalimage {
	height: 449px;
	width: 797px;
}*/


.btn {
	font: #786E5D;
	background-color: #FEE28D;
	outline: none;
}


.btn-secondary  {
	font: #786E5D;
	background-color: #FEE28D;
	outline: none !important;
}

/*.clickedButton {
	display: block;
	float: right;
}*/

/*homepage neighborhood thumbnails*/
#neighborhoodZones {
	background-color: #E46A73;
	font-family: 'Oswald', serif;
	color: #FEE28D;
	text-align: center;
	font-size: 14px;
	padding-bottom: 19px;
	padding-top: 10px;
}

.imgthumbnail {
	border-radius: 50%;
	overflow: hidden;
	border: solid;
	border-color: #786E5D
}


/*hompage about us box*/
#aboutUs {
	background-color: #C3FCFE;
	font-family: 'Playfair Display', serif;
	color: #786E5D;
	text-align: justify;
	font-style: 18px;
	font-size: 16px;
	padding-top: 20px;
}

#aboutUs a {
	color: #786E5D;
}

.aboutUsHeader {
	font-family: 'Oswald'
}

.highlightText {
	font-family: 'Oswald';
	font-size: 16px;
}

/*homepage social media icons*/
.icons {
	color: #786E5D;
	padding-right: 50%;
}

#twitter {
 	color: #786E5D;
}

/*homepage footer*/
#footerfont {
	 font-family: 'Playfair Display';
	 color: #786E5D;
	 display: inline-block;
	 font-size: 10px;
 }

footer {

	 background-color: #FEE28D;
	 padding-left: 20px;
	 padding-right: 20px;
	 padding-top: 10px;
}

.footerlist {
	list-style-type: none;
	text-align: right;
}

.horizontal {
	 display: inline-block;
	 padding-top: 1%;
}


/*.form-control {
padding-right: 10px;
}

.form-group {
	padding-left: 0px;
}

.bodyStyle{
	padding-left: 40px;
	padding-right: 20px;
}*/


/*area restaurants page header*/
#apiNeighborhood {
	color: #FEE28D;
	margin-top: 0px;
	padding-top: 20px;
	padding-bottom: 10px;
	font-size: 
}
#apiNeighborhood::first-letter {
    text-transform: uppercase;
}

.paginationclass div {
    cursor: pointer;
    text-decoration: highlight;
}


/*area restaurants page list*/

.list-group-item {
	font-family: Oswald;
	color: #786E5D;
}

.list-group-item a {
	color: #786E5D;
}

.listnoStyle {
	list-style-type: none;
}

ul {
	padding-left: 0px;
}

.list-group-item:hover {
	background-color: #FEE28D;
}
/*.restaurantLi {
	font-family: 'Playfair Display';
}*/

/*area restaurants page buttons*/

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  background-color: #786E5D;
  border-color: #786E5D;
  color: white;
  display: block;
  float: right;
}

.btn-circle:hover {
	background-color: #786E5D;
    border-color: #786E5D;
    color: white;
}


.btn-circle:focus {
	outline: none !important;
}


/*area restaurants page background*/

.pageBackground {
	background-color: #BFB5A3;
	padding-top: 0px;
}

/*mylist page header*/

.cursivefont {
	font-family: Pacifico;
	font-size: 2em;
	color: #786E5D;
}


/*input {
	padding-right: 10px;
}*/


.listpageBackground {
	padding-top: 0px;
	height: 100%
}


/*searching things below*/

/*list search*/

.active {
	background-color: #BFB5A3;

}


.items {
	width: 300px;
	text-align: center;
	border-left: 2px solid white;
	border-right: 2px solid white;
	border-bottom: 2px solid white;
	color: black;
	position: absolute;
	z-index: 20;
	background-color: #FEE28D;
	font-family: 'Playfair Display';
	font-weight: bold;
}

.directive {
	border-bottom: 1px solid white;
	text-align: center;
}

#or {
	font-family: Pacifico;
	color: #786E5D;
}


/*begin bootstrap scrollable*/

.scrollable-menu {
    height: 200px;
    max-height: 200px;
    overflow-x: hidden;
}

.grouper {
	width: 40%;
}

#menuBtn {
	border: 5px solid #A0C4CF;
	border-radius: 0;
}

.dropItems {
	color: white;
	font-size: 1.2em;
	margin-left: 10px;
}

.hoveration {
	font-family: 'Playfair Display';
	font-weight: bold;
	text-align: center;
	margin: 5px 5px;
}

.hoveration:hover {
	background-color: #BFB5A3;
}

.dropper {
	border: 5px solid #FEE28D;
	border-radius: 0px;
	font-family: 'Playfair Display';
	text-align: center;
}

.dropper:hover {
	background-color: white;
	border: 5px solid #FEE28D;
}

.dropper:active {
	background-color: white;
	border: 5px solid #FEE28D;
}

.drpDwn {
	border-bottom: 5px solid #FEE28D;
	border-right: 5px solid #FEE28D;
	border-left: 5px solid #FEE28D;
	background-color: #FEE28D;
}

.rowColor {
	background-color: #C3FCFE;
}

@media(min-width: @screen-lg-min){
	#imageHead{
		margin-top: 0px;
	}
}

